name: "Release"

on:
  push:
    tags:
      - "v*.*.*"

permissions: {}

jobs:
  release:
    name: "Release"
    runs-on: "ubuntu-latest"
    permissions:
      contents: write
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v4.1.3"

      - name: Update CHANGELOG
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ github.token }}
          tag: ${{ github.ref_name }}

      - name: "Adjust version number"
        shell: "bash"
        run: |
          yq -i -o json '.version="${{ github.event.release.tag_name }}"' \
            "${{ github.workspace }}/custom_components/aladdin_connect/manifest.json"

      - name: Zip custom components dir
        working-directory: "custom_components"
        run: zip -r aladdin_connect.zip aladdin_connect/*

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1.1.4  # Official Github action
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: ${{ github.ref_name }}
          body: ${{ steps.changelog.outputs.changes }}
          draft: false
          prerelease: false

      - name: Commit CHANGELOG.md
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: main
          commit_message: 'docs: update CHANGELOG.md for ${{ github.ref_name }} [skip ci]'
          file_pattern: CHANGELOG.md

      - name: "Upload the ZIP file to the release"
        uses: softprops/action-gh-release@v2.0.4
        with:
          body: ${{ steps.changelog.outputs.changes }}
          token: ${{ secrets.GH_TOKEN }}
          files: ./custom_components/aladdin_connect.zip
